@model TP_Pweb.Models.Veiculo

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoDisplay)
        </dt>
        @if (Model.FotoDisplay != null)
        {
            <dd class = "col-sm-10">
                @*TODO limitar imagem*@
                <img class="img-thumbnail" style="max-width:500px ; max-height:500px" src="data:image/*;base64,@(Convert.ToBase64String(Model.FotoDisplay))">
            </dd>
        }else{
        <dd class = "col-sm-10">
                @*TODO limitar imagem*@
                <img class="img-thumbnail" style="max-width:500px ; max-height:500px" src="~/img/defaultcar.jpg">
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrKm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empresa.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria.Id)
        </dd>
    </dl>
</div>
<p>Galeria de Imagens</p>
            <div class="row d-flex">

                @if (ViewBag.ficheiros == null)
                {
                    <p>Nehuma imagem inserida</p>
                }
                else
                @foreach (var file in ViewBag.ficheiros)
                {
                    <div class="col p-2 m-2"
                    style="border-radius:10px; border:1px dotted #ccc;">

                    <img src="@file" class="img-thumbnail" style="max-width:150px; max-height:150px;" />
                    </div>

                }
            </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

