@model IEnumerable<TP_Pweb.Models.Veiculo>

<link href="https://justpaste.it/redirect/cneoc/https%3A%2F%2Funpkg.com%2Fbootstrap-table%401.21.2%2Fdist%2Fbootstrap-table.min.css" rel="nofollow">

<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar Veiculo</a>
</p>
<table data-toggle="table" data-search="true">
    <thead>
        <tr>
            <th data-sortable="false" data-searchable="false">
                @Html.DisplayNameFor(model => model.FotoDisplay)
            </th>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th data-sortable="false" data-searchable="false" >
                @Html.DisplayNameFor(model => model.CustoDia)
            </th>
            <th data-sortable="true" data-searchable="false"><i class="bi bi-filter-left">
                @Html.DisplayNameFor(model => model.nrKm)
            </th>
            <th data-sortable="false" data-searchable="false">
                @Html.DisplayNameFor(model => model.empresa)
            </th>
            <th data-sortable="true" data-searchable="true"><i class="bi bi-filter-left">
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <div>
					@if (item.FotoDisplay != null)
					{
						<img id="FotoDisplay"class="img-thumbnail"
						 style="max-width:50px ; max-height:50px"
						 src="data:image/*;base64,@(Convert.ToBase64String(item.FotoDisplay))">
					}
					else
					{
						<img id="FotoDisplay"
						 class="img-thumbnail"
						 style="max-width:50px ; max-height:50px"
						 src="~/img/defaultcar.jpg">
					}
				</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.Nome)
            </td>
            <td>
                <a asp-action="AtivaDesativaVeiculos" asp-route-id="@item.Id">Ativar/Desativar</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar Veiculo</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar Veiculo</a>
            </td>
        </tr>
}
    </tbody>
</table>
