@model IEnumerable<TP_Pweb.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar Veiculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.custo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar Veiculo</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar Veiculo</a>
            </td>
        </tr>
}
    </tbody>
</table>
