@model TP_Pweb.ViewModels.PesquisaVeiculoViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Os Nossos Veiculos</h1>

@if (!string.IsNullOrWhiteSpace(Model.LocalizacaoPesquisa))
{
    <p>Resultado da pesquisa por "@Model.LocalizacaoPesquisa":</p>

    <label name="DataInicialPesquisa">Disponivel de @Html.DisplayFor(model=>Model.DataInicialPesquisa)</label>
    <label name="DataFinalPesquisa"> a @Html.DisplayFor(model=>Model.DataFinalPesquisa)</label>

    @if (Model.NumResultados == 0)
    {
        <p class="alert alert-warning">
            Não foi possível
            encontrar Veiculos com os dados introduzidos.
            Por favor, reveja a sua pesquisa
        </p>
    }else{
    <p>Existe(m) @Model.NumResultados Veiculo(s) disponíveis</p>
}
    @foreach (Veiculo v in Model.ListaDeVeiculos)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3"  >
                        <h4 class="my-0 fw-normal">
                            @Html.DisplayFor(model=>v.Modelo)
                            <small class="text-muted fw-light">Localização:</small>@Html.DisplayFor(model=>v.Localizacao)
                        </h4>
                        </div>
				<div class="card-body">
					@if (v.FotoDisplay != null)
					{
						<img class="img-thumbnail"
                            style="max-width:500px ; max-height:500px"
				            src="data:image/*;base64,@(Convert.ToBase64String(v.FotoDisplay))">
					}
					else
					{
						<img class="img-thumbnail"
				             style="max-width:500px ; max-height:500px"
				             src="~/img/defaultcar.jpg" )">
					}
                            <h1 class="card-title pricing-card-title">€ @v.custo<small class="text-muted fw-light"></small></h1>
                            </div>
                         <h4 class="my-0 fw-normal">
                            <small class="text-muted fw-light">Empresa:</small>@Html.DisplayFor(model=>v.empresa.Nome)
                            <small class="text-muted fw-light">Avaliação:</small>@Html.DisplayFor(model=>v.empresa.avaliacao)/5
                        </h4>

                    <a asp-controller="Veiculos" asp-action="RealizaReserva" asp-route-id="@v.Id" class="w-100 btn btn-lg btn-outline-primary">Consultar</a>

                </div>
            </div>
    }
    }else{
    <p class="alert alert-warning">
            Não foi possível
            encontrar Veiculos com os dados introduzidos.
            Por favor, reveja a sua pesquisa
        </p>
    }
