@model TP_Pweb.ViewModels.PesquisaVeiculoViewModel

@{
}

@if (!string.IsNullOrWhiteSpace(Model.LocalizacaoPesquisa))
{

    <div class="card text-dark border-warning mb-4 rounded-3 shadow-sm h-30">
        <div class="card-header" style="background-color: darkkhaki">
            <h1>Os Nossos Veiculos</h1>
            </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title"> @Model.LocalizacaoPesquisa<small class="text-muted fw-light"></small></h2>
                        <p class="card-text"> @Html.DisplayFor(model=>Model.DataInicialPesquisa) </p>
                    </div>
                    <div class="col align-self-center">
                        <i class="bi bi-caret-right-fill" style="font-size: 25px"></i>
                    </div>
                    <div class="col">
                        <h2 class="card-title"> @Model.LocalizacaoPesquisa<small class="text-muted fw-light"></small></h2>
                        <p class="card-text"> @Html.DisplayFor(model=>Model.DataFinalPesquisa)  </p>
                    </div>
                </div>
            </div>
        </div>
     </div>


    @*<p>Resultado da pesquisa por "@Model.LocalizacaoPesquisa":</p>

    <label name="DataInicialPesquisa">Disponivel de @Html.DisplayFor(model=>Model.DataInicialPesquisa)</label>
    <label name="DataFinalPesquisa"> a @Html.DisplayFor(model=>Model.DataFinalPesquisa)</label>*@

    @if (Model.NumResultados == 0)
    {
        <p class="alert alert-warning">
            Não foi possível
            encontrar Veiculos com os dados introduzidos.
            Por favor, reveja a sua pesquisa
        </p>
    }
    else
    {
        <p>Existe(m) @Model.NumResultados Veiculo(s) disponíveis</p>

        <hr />
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            @foreach (Veiculo v in Model.ListaDeVeiculos)
            {
                <div class="row w-40">
                    <div class="col">
                    <div class="card text-dark border-warning mb-4 rounded-3 shadow-sm h-70" >
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">
                                @* Replace e case sensitive
                    texto pesquisado em negrito: @Html.Raw(c.Nome.ToLower().Replace(Model.textoApesquisar,"<b>"+Model.textoApesquisar+"</b>"))*@
                                @Html.DisplayFor(model=>v.Modelo)
                                
                            </h4>
                        </div>


                            <div class="card-body">

                                @if (v.FotoDisplay != null)
                                {
                                    @*<img class="img-thumbnail"
                    style="max-width:500px ; max-height:500px"
                    src="data:image/*;base64,@(Convert.ToBase64String(v.FotoDisplay))">*@

                                    <img src="data:image/*;base64,@(Convert.ToBase64String(v.FotoDisplay))" class="card-img-top" alt="cardImg" height="300">
                                }
                                else
                                {
                                    @*<img class="img-thumbnail"
                    style="max-width:500px ; max-height:500px"
                    src="~/img/defaultcar.jpg" )">*@

                                    <img src="~/img/defaultcar.jpg" class="card-img-top" alt="cardImg" height="300">
                                }


                            <h1 class="card-title pricing-card-title">€ @v.CustoDia<small class="text-muted fw-light"></small></h1>


                            <p class="card-text"> @Html.DisplayFor(model=>v.empresa.avaliacao)/10 <i class="bi bi-star-fill" style="color:gold"></i></p> 
@using (Html.BeginForm("RealizaReserva", "Veiculos", FormMethod.Get))
{
    <input type="text" name="idcar" value="@v.Id" hidden/>
    <input type="date" name="di" value="@Model.DataInicialPesquisa.ToString("yyyy-MM-dd")" hidden required
		oninvalid="this.setCustomValidity('Por Favor insira uma data de começo')" 
		oninput="setCustomValidity('')" />  
    <input type="date" name="df" value="@Model.DataFinalPesquisa.ToString("yyyy-MM-dd")"hidden required
		oninvalid="this.setCustomValidity('Por Favor insira uma data de fim')" 
		oninput="setCustomValidity('')"  />
    <input type="submit" value="Reservar" />
    }
@*                            <a class="btn border-dark" asp-controller="Veiculos" asp-action="RealizaReserva" asp-route-id="@v.Id" asp-route-Di="@Model.DataInicialPesquisa" asp-route-Df="@Model.DataFinalPesquisa">Detalhes</a>
*@                        </div>
                    </div>
                </div>
                </div>
            }
        </div>
    }
}
@*@foreach (Veiculo v in Model.ListaDeVeiculos)
    {
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm" style="width: 25rem;">
                <div class="card-header py-3"  >
                        <h4 class="my-0 fw-normal">
                            @Html.DisplayFor(model=>v.Modelo)
                            <small class="text-muted fw-light">Localização:</small>@Html.DisplayFor(model=>v.Localizacao)
                        </h4>
                        </div>
				<div class="card-body">
					@if (v.FotoDisplay != null)
					{
						<img class="img-thumbnail"
                            style="max-width:500px ; max-height:500px"
				            src="data:image/*;base64,@(Convert.ToBase64String(v.FotoDisplay))">
					}
					else
					{
						<img class="img-thumbnail"
				             style="max-width:500px ; max-height:500px"
				             src="~/img/defaultcar.jpg" )">
					}
                            <h1 class="card-title pricing-card-title">€ @v.CustoDia<small class="text-muted fw-light"></small></h1>
                            </div>
                         <h4 class="my-0 fw-normal">
                            <small class="text-muted fw-light">Empresa:</small>@Html.DisplayFor(model=>v.empresa.Nome)
                            <small class="text-muted fw-light">Avaliação:</small>@Html.DisplayFor(model=>v.empresa.avaliacao)/5
                        </h4>

                    <a asp-controller="Veiculos" asp-action="RealizaReserva" asp-route-id="@v.Id" class="w-100 btn btn-lg btn-outline-primary">Consultar</a>

                </div>
            </div>
    }
    }else{
    <p class="alert alert-warning">
            Não foi possível
            encontrar Veiculos com os dados introduzidos.
            Por favor, reveja a sua pesquisa
        </p>
    }*@
