@model TP_Pweb.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Estado Reserva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.PrimeiroNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo.Modelo) '@Html.DisplayFor(model => model.Veiculo.Id)'
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>

        @if (Model.state.Equals(Reserva.State.Cancelada))
        {
            foreach (var estado in Model.estados)
            {
                <div>
                    <dt class = "col-sm-2">
                        Funcionario Cancelamento
                    </dt>
                     <dd class = "col-sm-10">   
                       @ViewBag.funcionarioEntrega
                    </dd>
               </div>
            }
        }

        @if (Model.state.Equals(Reserva.State.Decorrer) || Model.state.Equals(Reserva.State.Entregue))
        {
            foreach (var estado in Model.estados)
            {
                if(estado.state.Equals(Estado.State.Entrega)){
                <div>
                    <dt class = "col-sm-2">
                        Funcionario Entrega
                    </dt>
                    <dd class = "col-sm-10">   
                       @ViewBag.funcionarioEntrega
                    </dd>
                    <dt class = "col-sm-2">
                        Km Iniciais
                    </dt>
                    <dd class = "col-sm-10">   
                        @estado.NrKilometros
                    </dd>
                    <dt class = "col-sm-2">
                        Observações
                    </dt>
                    <dd class = "col-sm-10">   
                        @estado.observacoes
                    </dd>
                    <dt class = "col-sm-2">   
                        Danos
                    </dt>
                    <dd class = "col-sm-10">   
                        @if(estado.danos == true){
                            <label>Sim</label>
                        }else{
                            <label>Nao</label>
                        }
                    </dd>
                    
                </div>
                <p>Galeria danos Entrega</p>
                <div class="row d-flex">

                    @if (ViewBag.ficheirosEntrega == null)
                    {
                        <p>Nehuma imagem inserida</p>
                    }
                    else
                        @foreach (var file in ViewBag.ficheirosEntrega)
                        {
                            <div class="col p-2 m-2"
                    style="border-radius:10px; border:1px dotted #ccc;">

                                <img src="@file" class="img-thumbnail" style="max-width:150px; max-height:150px;" />
                            </div>

                        }
                </div>
                }
            }
        }
        @if (Model.state.Equals(Reserva.State.Concluida))
        {
            foreach (var estado in Model.estados)
            {
                if (estado.state.Equals(Estado.State.Entrega)) {
                    <div>
                    <dt class = "col-sm-2">
                        Funcionario Entrega
                    </dt>
                    <dd class = "col-sm-10">   
                       @ViewBag.funcionarioEntrega
                    </dd>
                    <dt class = "col-sm-2">
                        Km Iniciais
                    </dt>
                    <dd class = "col-sm-10">   
                        @estado.NrKilometros
                    </dd>
                    <dt class = "col-sm-2">
                        Observações
                    </dt>
                    <dd class = "col-sm-10">   
                        @estado.observacoes
                    </dd>
                    <dt class = "col-sm-2">   
                        Danos
                    </dt>
                    <dd class = "col-sm-10">   
                        @if(estado.danos == true){
                            <label>Sim</label>
                        }else{
                            <label>Nao</label>
                        }
                    </dd>
                </div>
                    <p>Galeria danos Entrega</p>
                    <div class="row d-flex">

                        @if (ViewBag.ficheirosEntrega == null)
                        {
                            <p>Nehuma imagem inserida</p>
                        }
                        else
                            @foreach (var file in ViewBag.ficheirosEntrega)
                            {
                                <div class="col p-2 m-2"
                    style="border-radius:10px; border:1px dotted #ccc;">

                                    <img src="@file" class="img-thumbnail" style="max-width:150px; max-height:150px;" />
                                </div>

                            }
                    </div>
                }if (estado.state.Equals(Estado.State.Recolha)) {

                    <div>
                    <dt class = "col-sm-2">
                        Funcionario Recolha
                    </dt>
                    <dd class = "col-sm-10">   
                       @ViewBag.funcionarioRecolha
                    </dd>
                    <dt class = "col-sm-2">
                        Km Finais
                    </dt>
                    <dd class = "col-sm-10">   
                        @estado.NrKilometros
                    </dd>
                    <dt class = "col-sm-2">
                        Observações
                    </dt>
                    <dd class = "col-sm-10">   
                        @estado.observacoes
                    </dd>
                    <dt class = "col-sm-2">   
                        Danos
                    </dt>
                    <dd class = "col-sm-10">   
                        @if(estado.danos == true){
                            <label>Sim</label>
                        }else{
                            <label>Nao</label>
                        }
                    </dd>
                    
                </div>
                    <p>Galeria danos Recolha</p>
                    <div class="row d-flex">

                        @if (ViewBag.ficheirosRecolha == null)
                        {
                            <p>Nehuma imagem inserida</p>
                        }
                        else
                            @foreach (var file in ViewBag.ficheirosRecolha)
                            {
                                <div class="col p-2 m-2"
                    style="border-radius:10px; border:1px dotted #ccc;">

                                    <img src="@file" class="img-thumbnail" style="max-width:150px; max-height:150px;" />
                                </div>

                            }
                    </div>
                }
            }
        }
    </dl>
</div>
<div>
    @if(User.IsInRole("Cliente")){
        <a asp-action="AsMinhasReservas">Back to List</a>
    }else{
        <a asp-action="Index">Back to List</a>
    }
</div>
