@model IEnumerable<TP_Pweb.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-striped table-hover table-bordered mt-4">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
             <th>
                Data Entrega
            </th>
             <th>
                Data Final
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.PrimeiroNome) @Html.DisplayFor(modelItem => item.Utilizador.UltimoNome)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Veiculo.Modelo) [@Html.DisplayFor(modelItem => item.Veiculo.Id)]
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.DataEntrega) 
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.DataRecolha) 
            </td>
            <td>
                @if(item.state.Equals(Reserva.State.Pendente)){
                        <a class="btn btn-primary" asp-action="ProcessaEstado" asp-route-id="@item.Id">Confirmar</a>
                        <a class="btn btn-primary" asp-action="CancelarReserva" asp-route-id="@item.Id">Rejeitar</a>
                }else if(item.state.Equals(Reserva.State.Entregue)){
                        <a class="btn btn-primary" asp-action="ProcessaEstado" asp-route-id="@item.Id">Encerrar</a>
                }else if (item.state.Equals(Reserva.State.Decorrer)){
                <a> Waiting... |</a>
                }
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
}

    </tbody>
</table>
