@model IEnumerable<TP_Pweb.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.PrimeiroNome) @Html.DisplayFor(modelItem => item.Utilizador.UltimoNome)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Veiculo.Modelo) [@Html.DisplayFor(modelItem => item.Veiculo.Id)]
            </td>
            <td>
                @if(item.state.Equals(Reserva.State.Pendente)){
                <a asp-action="ProcessaEstado" asp-route-id="@item.Id">Confirmar</a>
                }else if(item.state.Equals(Reserva.State.Pendente)){
                <a asp-action="CancelarReserva" asp-route-id="@item.Id">Rejeitar</a> 
                }else if(item.state.Equals(Reserva.State.Entregue)){
                <a asp-action="ProcessaEstado" asp-route-id="@item.Id">Encerrar</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}       @*Details*@
        @*@foreach (var item in Model)
        {
            foreach(var item2 in item.estados)
            {
                @Html.DisplayFor(modelItem => item2.FuncionarioId)

            }      

        }*@

    </tbody>
</table>
